@font-face {
	font-family: Chaparral Pro;
	src: url('Chaparral Pro.otf');
}

@font-face {
	font-family: Khmer MN;
	src: url('Khmer MN.ttc');
}

* {
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #131313;
	font: 18px Chaparral Pro, Times New Roman;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fafafa;
	min-width: 320px;
}

ul {
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

li {
	text-align: center;
	width: 150px;
	margin: 10px 0 0;
}

h1 {
	text-align: center;
	font-size: 33px;
	line-height: 33px;
	padding-top: 30px;
}

h2 {
	font-family: Khmer MN;
	text-align: center;
	text-decoration: overline;
	font-size: 20px;
}

h1, h2, h3, a {
	/*color: #227799;*/
	color: #e0c106;
	color: #21548b;
}

h3 {
	font-size: 30px;
	padding: 50px 20px 0;
}

h4 {
	font-variant: small-caps;
	padding: 4px 7px;
	font-size: 22px;
}

p {
	padding: 0 5px 4px;
}

a {
	text-decoration: underline;
}

a:active {
	position: relative;
	top: 1px;
}

header, section, h3, h4, p {
	max-width: 960px;
	margin: 0 auto;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px 10px 30px;
}

nav a {
	font-size: 20px;
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

img {
	max-width: 100%;
	visibility: hidden;
}

.subsection {
	padding: 15px 10px;
	flex-basis: 280px;
}

#foto1 {
	background-image: url(../images/foto.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

footer {
	margin: 20px 15px 0;
	padding: 30px 0 5px;
}

footer p {
	font-size: 12px;
}